body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
  }

  #tabs {
    background: #333;
    display: flex;
    overflow-x: auto;
  }

  .tab {
    display: flex;
    align-items: center;
    color: white;
    padding: 8px 12px;
    cursor: pointer;
    background: #444;
    border-right: 1px solid #555;
    position: relative;
  }

  .tab.active {
    background: #222;
    font-weight: bold;
  }

  .tab img {
    width: 16px;
    height: 16px;
    margin-right: 6px;
  }

  .close-btn {
    margin-left: 8px;
    color: #ccc;
    font-weight: bold;
    cursor: pointer;
  }

  .close-btn:hover {
    color: red;
  }

  #add-tab {
    padding: 8px 16px;
    background: #28a745;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border: none;
  }

  #iframes {
    flex: 1;
    position: relative;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    display: none;
  }

  iframe.active {
    display: block;
  }
  #closebrowser-btn {
    border-radius: 3px;
    border: none;
    color: #ccc;
    background-color: #555;
    position: fixed;
    right: 0%;
  }
  #info-btn {
    border-radius: 3px;
    border: none;
    color: #ccc;
    background-color: #555;
    position: fixed;
    right: 2%;
  }
  #closebrowser-btn:hover {
    border-radius: 3px;
    border: none;
    color: #ccc;
    background-color: #555555cb;
    position: fixed;
    right: 0%;
  }
  #info-btn:hover {
    border-radius: 3px;
    border: none;
    color: #ccc;
    background-color: #555555cb;
    position: fixed;
    right: 2%;
  }
  nav {
    background: #333;
    display: flex;
    overflow-x: auto;
  }
  #back-btn {
    border-radius: 3px;
    border: none;
    color: #ccc;
    background-color: #555;
    position: fixed;
    right: 6%;
  }
  #forward-btn {
    border-radius: 3px;
    border: none;
    color: #ccc;
    background-color: #555;
    position: fixed;
    right: 4%;
  }
  #back-btn:hover {
    border-radius: 3px;
    border: none;
    color: #ccc;
    background-color: #555555cb;
    position: fixed;
    right: 6%;
  }
  #forward-btn:hover {
    border-radius: 3px;
    border: none;
    color: #ccc;
    background-color: #555555cb;
    position: fixed;
    right: 4%;
  }
  #home-btn {
    border-radius: 3px;
    border: none;
    color: #ccc;
    background-color: #555;
    position: fixed;
    right: 10%;
  }
  #reload-btn {
    border-radius: 3px;
    border: none;
    color: #ccc;
    background-color: #555;
    position: fixed;
    right: 8%;
  }
  #home-btn:hover {
    border-radius: 3px;
    border: none;
    color: #ccc;
    background-color: #555555cb;
    position: fixed;
    right: 10%;
  }
  #reload-btn:hover {
    border-radius: 3px;
    border: none;
    color: #ccc;
    background-color: #555555cb;
    position: fixed;
    right: 8%;
  }